export MONGO="mongodb://username:password@host:port/database"
export SSL_KEY="/Users/coolguy/.ssh/localdata-key.pem"
export SSL_CERT="/Users/coolguy/.ssh/localdata-cert.pem"
export PREFIX="//localhost:3443/tiles"

export NAME="my-tileserver"
export S3_KEY="foo"
export S3_SECRET="bar"
export S3_BUCKET="baz";
