.wax-tooltip {
  z-index:9999999;
  position:absolute;
  background: rgba(255,255,255,.8);
  color:#000;
  padding:10px 10px;
  -webkit-user-select:auto;
  left:10px;
  bottom:10px;
  opacity:1;
  font-size: 50px;
  line-height: 60px;
  font-family: Helvetica-Neue, Helvetica, san-serif;
  -webkit-transition:opacity 150ms;
  -moz-transition:opacity 150ms;
  border-radius: 10px;
  letter-spacing: 5px;
  font-weight: bold;
  }
  .wax-tooltip div {
    padding: 20px 30px;
    border-radius: 10px !important; 
    border: 5px solid #000 !important; 
  }
  .wax-tooltip div.park {
    background-color: rgba(0,255,0, .5);
  }
  .wax-tooltip.map-fade {
    opacity: 0;
  }